canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: 350px;
    margin-right: auto;
    margin-top: 23px;
    display: block;
    width: 537px;
    border-radius: 0px;
}

body {
	background-color: #292F36;
   /*#363946 */
}

#justDiv {
	background-color: #416788;
  /*#2E5077*/
	border-radius: 0px;
	width: 200px;
	height: 250px;
	position: fixed;
  margin-left: 100px;
	bottom: 10px;
	top: 50px;
	left: 800px;
}

label, data-score {
	color: #FFBF00;
	font-size: 30px;
	display: block;
	text-align: center;

}

h3 {
	color: #D8D8D8;
	text-align: center;
}

#startGame {
	margin: 0px auto;
	display: block;
	background-color: #FC7753;
	color: #66D7D1;
	height: 30px;
}

#startGame:hover {
  background-color: #DBF4A7;
  color: #7D84B2;
}

#gamePause {
	margin: 0px auto;
	display: block;
	background-color: #C7EFCF;
	color: #2D93AD;
	height: 30px;
}

#gamePause:hover {
	background-color: #DBF4A7;
  	color: #7D84B2;
}
